@model MVCProject.Models.ReviewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ReviewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
<style>
    body {
        margin-bottom: 60px;
        background-image: url(https://th.bing.com/th/id/R.92439a74925a2db07b685954e7cc0f32?rik=VmcjzPoBzgXstw&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2fc%2f4%2f2%2f1086942-popular-game-desktop-backgrounds-3840x2160.jpg&ehk=jGUET%2fb0gCVV2hsUjAV81LdwBTSTNaKhYIxF%2b%2fzfG6A%3d&risl=&pid=ImgRaw&r=0);
        background-position: center;
        color: white;
        font-size: 25px;
        font-weight: bold
    }

    .col-sm-2 {
        
    }
</style>
